
<h1><%= @product.name %></h1>

  <div class="prod-desc">
    <p>
      <%= @product.description %>
    </p>
  </div>

  <div class="prod-price">
    <p>
      $<%= @product.dollars_conversion %>
    </p>
  </div>
  <%= link_to "Back", products_path %>
